<head> </head>

<body>

    <div class="content" id="homepage-content">
        <h2>Welcome to the home page</h2>
        <br/>
        <p>Have a campaign in mind? Create one then share it with people!</p>
        <p>Get started <a href="campaigns/add">here</a></p>
    </div>
  

</body>

</html>