<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
<nav>
  <div id="brand">myCampaign Manager</div>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="../">Campaigns</a></li>
  </ul>
  <form id="search">
    <input type="text" placeholder="Search for a campaign..." />
  </form>
</nav>
