<html>

<head> </head>

<body>


    <div class="titles" id="campaign-main">
        <h1>Campaigns Page</h1>
    </div>
    <div class="content" id="campaign-list">
        <h3><a href="campaigns/add">Create a new campaign</a></h3>
        <br />

        <ul>
            {{#each campaigns}}
            <li> Name: {{title}} </li>
            <li>Creator {{userID}}</li>
            <li> Remaining: ${{amt}}</li>
            <li><a href="campaigns/view?id={{_id}}">Campaign Link</a></li>
            <li><a href="payments">Donate </a></li>
            <br/>
            {{/each}}
        </ul>
    </div>
</body>

</html>
